.burger {
    display: none;
    

    @media (max-width: 950px) {
        display: block;
        width: 25px;
        height: 21px;
        position: relative;
        cursor: pointer;

        span {  
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 3px;
            background-color: $orange-color;
            transition: all 0.3s ease;
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            top: 1px;
            width: 100%;
            height: 3px;
            background-color: $black-color;
            transition: all 0.3s ease;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 1px;
            width: 100%;
            height: 3px;
            background-color: $black-color;
            transition: all 0.3s ease;
        }

        &.burger_active span {  
            transform: scale(0);  
        }  
    
        &.burger_active::before {  
            transform: rotate(45deg);  
            top: 9px; 
        }  
    
        &.burger_active::after {  
            transform: rotate(-45deg);  
            bottom: 9px;  
        } 
    }
}

.header__wrap {
   position: relative;
   overflow: hidden;

   &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 38.5%;
        background-color: $blue-color
   }

   @media (max-width: 1350px) {
        padding: 0 50px;
   }

   @media (max-width: 650px) {
    padding: 0 20px;
   }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 46px;
    transition: all 0.3s ease;

    @media (max-width: 950px) {
        margin-top: 15px;
        position: absolute;
        flex-direction: column;
        right: -18%;
        top: 70px;
        gap: 5px 20px;
    }

    li {
        @media (max-width: 650px) {
            width: 60px;
        }
    }

    &.menu_active {
        right: 25%;

        @media (max-width: 650px) {
            right: 18%;
        }
    }
}

.logo {
    font-weight: 800;
    font-size: 23px;
    color: $text-color-2;
    transition: all 0.3s ease;

    &:hover {
        color: $orange-color;
    }

    @media (max-width: 650px) {
        font-size: 25px;
    }
}

.menu_link {
    font-weight: 700;
    font-size: 13px;
    color: $black-color;
    position: relative;
    padding-bottom: 2px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $black-color;
        transition: all 0.3s ease;
    }

    &:hover::before {
        width: 100%;
    }

    @media (max-width: 950px) {
        font-size: 16px;
        text-align: end;
        width: 100%;
    }
}


//top container
.top__wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    transition: all 0.3s ease;

    @media (max-width: 1200px) {
        flex-direction: column-reverse;
    }

    &.top__wrap_active {
        transform: translateX(-37%);

        @media (max-width: 650px) {
            transform: translateX(-50%);
        }
    }
}

.top__wrap_left {
    width: 50%;
    padding-top: 150px;
    position: relative;

    span {
        font-weight: 700;
        font-size: 22px;
        color: $yellow-color;

        @media (max-width: 500px) {
            font-size: 18px;
        } 
    }

    h1 {
        font-weight: 800;
        font-size: 54px;
        line-height: 73px;
        color: $black-color;
        margin: 24px 0;
        max-width: 484px;

        @media (max-width: 1350px) {
            line-height: 65px;
        }

        @media (max-width: 1200px) {
            text-align: center;
        }

        @media (max-width: 500px) {
            font-size: 42px;
            line-height: 45px;
        }
    }

    p {
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: $text-color-2;
        max-width: 500px;

        @media (max-width: 1200px) {
            text-align: center;
        }
    }

    @media (max-width: 1350px) {
        padding-top: 100px;
    }

    @media (max-width: 1200px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
}

.search_form {
    margin-top: 48px;
    display: flex;
    align-items: center;
    height: 86px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    position: relative;
    width: 806px;
    z-index: 55;
    
    &::before {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='21' fill='none'%3E%3Cpath fill='%2331353B' d='M20.9 6.2 18.7 5V.3c0-.2-.1-.3-.3-.3h-3.3c-.2 0-.3.1-.3.3v2.3L10.7 0H10.4L.2 6.2l-.2.3v2.1a.3.3 0 0 0 .4.2L2 8v10.6h-.8c-.1 0-.2.1-.2.3v2s0 .2.2.2h18.6c.2 0 .3-.1.3-.3v-2s-.1-.2-.3-.2h-.7V8l1.5 1a.3.3 0 0 0 .4-.3V6.5l-.1-.3ZM15.4.5H18v4L15.4 3V.5Zm4.2 20H1.5V19h18v1.5Zm-6.7-2H8.2v-8.2h4.7v8.2Zm5.7 0h-5.2v-8.4c0-.2-.1-.3-.2-.3H7.9c-.1 0-.3.1-.3.3v8.4H2.5V7.6l8-4.7 8 4.7v11Zm2-10.3-10-5.8a.3.3 0 0 0-.2 0L.6 8.2V6.6l10-6 10 6v1.6Z'/%3E%3C/svg%3E");
        top: 48%;
        left: 33px;
        transform: translate(0, -50%);
        width: 22px;
        height: 21px;
        display: block;

        @media (max-width: 650px) {
            display: none;
        }
    }

    input {
        border: 0;
        font-size: 20px;
        height: 100%;
        padding: 33px 33px 33px 73px;
        width: 100%;
        border: 1px solid $gray-color;

        &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.01em;
            color: $text-color-2;
            opacity: 0.3;

            @media (max-width: 1350px) {
                font-size: 16px;
            }

            @media (max-width: 650px) {
                font-size: 14px;
            }
        }

        @media (max-width: 650px) {
            padding: 20px;
            font-size: 16px;
        }
    }

    button {
        white-space: nowrap;
        height: 100%;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.01em;
        padding: 0 42px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            font-size: 20px;
            padding: 0 32.5px;

            @media (max-width: 650px) {
                padding: 0 25px;
                font-size: 0px;
            }
        }

        @media (max-width: 650px) {
            padding: 0 25px;
            font-size: 0;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' stroke-miterlimit='10' d='M13 3a10 10 0 1 0 6.3 17.7l6 6a1 1 0 1 0 1.4-1.4l-6-6A10 10 0 0 0 13 3zm0 2a8 8 0 1 1 0 16 8 8 0 1 1 0-16z' font-family='none' font-size='none' font-weight='none' style='mix-blend-mode:normal' text-anchor='none' transform='scale(8.53333)'/%3E%3C/svg%3E");
                width: 20px;
                height: 20px;
                display: block;
            }
        }
    }

    @media (max-width: 1350px) {
        max-width: 806px;
        width: 100%;
        height: 67px;
    }

    @media (max-width: 500px) {
        height: 40px;
        margin-top: 30px;
    }
}

.top__wrap_rigth {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;

    @media (max-width: 1350px) {
        justify-content: center;
        padding-top: 100px;
    }

    @media (max-width: 1200px) {
        width: 100%;
        padding-top: 20px;
    }
}

.container_partners {  
    overflow: hidden; 
    white-space: nowrap; 
    position: relative;  
    width: 773px; 
    margin-top: 110px;

    h3 {
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 0.01em;
        color: $text-color-2;

        @media (max-width: 650px) {
            text-align: center;
        }
    }

    @media (max-width:1350px) {
        width: 100%;
        margin-top: 50px;
    }

    @media (max-width: 500px) {
        margin-top: 30px;
    }
}  

.container_partners_icons {  
    display: inline-block; 
    animation: scroll-left 30s linear infinite; 
    position: relative; 
    margin-top: 17px;

    svg {
        margin-right: 50px;

        @media (max-width: 500px) {
            margin-right: 20px;
        }
    }

    @media (max-width: 1350px) {
        width: 100%;
        max-width: 1350px;
    }

    @media (max-width: 500px) {
        margin-top: 10px;
    }
}   
 
@keyframes scroll-left {  
    from {  
        transform: translateX(0%);
    }  
    to {  
        transform: translateX(-50%);  
    }  
}

// slider
.swiper {
    width: 100%;
    max-width: 583px;
    height: auto;
    margin: 0;
    position: relative;

    @media (max-width: 1350px) {
        max-width: 420px;
    }

    @media (max-width: 1200px) {
        max-width: 550px;
    }
}

.swiper-slide {
    height: 300px;
    img {
        width: 100%;
        height: auto; 
        object-fit: cover;
        cursor: grab;
    }
}

.swiper-cube-shadow {
    display: none;
}

.arrow_block {
    position: absolute;
    display: flex;
    gap: 50px;
    bottom: 20px;
    right: -12px;

    @media (max-width: 1350px) {
        bottom: 25px;
    }

    @media (max-width: 1200px) {
        bottom: 10px;
        right: 5px;
    }
}

.swiper-button-next {
    position: relative;
    display: block;
    transition: all 0.3s ease;

    &:hover {
        &::after,
        &::before {
            background-color: $orange-color;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 4px;
        right: 11px;
        width: 2px;
        height: 50%;
        background-color: $white-color;
        transform: rotate(-50deg);
        transition: all 0.3s ease;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 4px;
        right: 11px;
        width: 2px;
        height: 50%;
        background-color: $white-color;
        transform: rotate(50deg);
        transition: all 0.3s ease;
    }
}

.swiper-button-prev {
    position: relative;

    &:hover {
        &::after,
        &::before {
            background-color: $orange-color;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 11px;
        width: 2px;
        height: 50%;
        background-color: $white-color;
        transform: rotate(50deg);
        transition: all 0.3s ease;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 11px;
        width: 2px;
        height: 50%;
        background-color: $white-color;
        transform: rotate(-50deg);
        transition: all 0.3s ease;
    }
}

